.skills{
    background: #170132;
}

.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5rem;
}

.skill .box-skill img{
    width: 120px;
    height: 120px;
    
    position: relative;
    margin: 1rem;
    border-radius: 10%;
    object-fit: cover;
}



